
@font-face {
  font-family: 'Steps-Mono';
  src: url('assets/Steps-Mono.otf') format('otf');
}





* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  /*font-family: 'bagnard';*/
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
  font-style: normal;
}

html {
  background: #0028d1;
  /*#0028d1;*/
  /*color: #ec5332;*/
  color: black;
  overflow-x: hidden;
}

a {
  color: #ebebeb;
}

a:visited {
  color: inherit;
}

::selection {
  background: #ebebeb;
  color: black;
}

::-moz-selection {
  background: #ebebeb;
  color: black;
}

body {
  position: relative;
}

.tickets a:hover {
  background-color: #bd1dc6;
}


/*XXxxxxxXXXXXXXXXXXXXXXXXXXXXXXXX*/


/*XXxxxxxXXXXXXXXXXXXXXXXXXXXXXXXX*/



.desc {
  max-width: 30em;
  text-align: left !important;
  font-size: .7em;
  padding-top: 1em;
  padding-bottom: 2em;
  color: black;
  /* background-color: #bf9412; */
  line-height: 1.4em;
  font-family: 'Roboto Mono', monospace;
}

.desc a {
  color: #0028d1;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
}

.desc a:hover::before {
  content: '↬';
  color: #ebebeb;
  text-decoration: none;
  left: -13px;
  /* equal to padding-left */
}

.desc a:hover::after {
  content: '↫';
  color: #ebebeb;
  text-decoration: none;
  left: -13px;
  /* equal to padding-left */
}

.desc2 {
  max-width: 30em;
  font-size: 1.5em;
  color: black;
  line-height: 1.4em;
  font-family: 'Roboto Mono', monospace;
  text-align: left !important;
}

.lib {
  width: 400px;
  padding-bottom: 5em;
}

h5 {
  text-align: center;
  font-size: 1.3em;
  /* font-weight: 400; */
  font-family: 'Steps-Mono';
  margin-top: 2.2em;
  margin-bottom: .8em;
  text-decoration-skip: ink;
  text-decoration: underline;
}

.right {
    padding-top: 3.7em;
      position: absolute;
      right: 1em;
      width: 500px;
}

.right li {
  padding-top: 1em !important;

}

.page-head {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Steps-Mono';
}

.row {
    margin-left: -1em;
  margin-right: -10em;
}

.page-head ul {
  padding: 0;
  margin: 0;
}

.page-head ul li a {
  text-decoration: underline;
  color: #0028d1;
}

.page-head ul li a:hover::before {
  content: '↬';
  color: #ebebeb;
  text-decoration: none;
  left: -13px;
  /* equal to padding-left */
}

.page-head ul li {
  list-style: none;
  padding: 0 5px;
  margin: 0;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.col-md-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1em;
}

.col-md-4 {
  position: relative;
  min-height: 1px;
  /* padding-left: 15px; */
  padding-right: 15px;
  float: left;
  width: 33.33333333%;
}


/*XXxxxxxXXXXXXXXXXXXXXXXXXXXXXXXX*/


/*XXxxxxxXXXXXXXXXXXXXXXXXXXXXXXXX*/

.arrow {
  height: 1723px;
  left: 9em;
top: 81em;
  position: absolute;
  z-index: 1450;
}

#quote {
  color: #ebebeb;
  font-size: 1.5em;
  line-height: 1.1em;
  font-family: 'Steps-Mono';
  margin-top: 3em;
  padding-right: 5em !important;
}

.mark {
  color: black;
}

#name {
  color: black;
  text-align: right;
}

.main-items {
  padding: 1em;
  padding-right: 15em;
  /*background-color: rgba(#bf9412, 0.77) !important;*/
  background-color: #bf9412;
  font-size: 1.4em;
  padding-top: .5em;
  color: black;
  padding-bottom: 4em;
  margin-left: 5em;
  padding-left: 4em;
}

.main-items p {
  position: relative;
  z-index: 2000;
  margin-top: 4em;
  max-width: 32em !important;
  line-height: 1.4em;
}

.centered {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.gif {
  width: 370px;
  margin-top: 16em;
  padding-bottom: 14em;
}

.map {
  width: 70vw;
  margin-top: 0;
  padding-bottom: 14em;
}



marquee {
  font-family: 'Steps-Mono';
  font-weight: normal;
  font-style: normal;
  font-size: 3em;
  padding: 0;
  color: #ebebeb;
  display: block;
  /*background-color: #ec5332;;*/
}

.top {
/*border-top: 5px solid #ebebeb !important;*/
    padding-top: .2em;
    border-bottom: 5px solid #ebebeb;
}

.tickets a {
  margin: 0 1em;
  display: inline-block;
  font-size: 0.6em;
}

.tickets {
  border-top: 5px solid #ebebeb;
  border-bottom: 5px solid #ebebeb;
}


.tickets-bottom {
  margin-top: 0em;
  border-top: 5px solid #ebebeb;
}

h1 {
  font-family: 'Steps-Mono';
  font-size: 7em;
  text-align: center;
      margin-left: .3em;
  padding: 0.5em;
  padding-top: .5em;
  padding-bottom: .5em;
  width: 100%;
  font-weight: 400;
  color: #ebebeb;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  /*yellow*/
  /*background-color: #aa9e00;*/
}

h4 {
  text-align: center;
  font-size: 4em;
  padding-left: 1em;
  /* font-weight: 400; */
  font-family: 'Steps-Mono';
  margin-top: -0.8em;
  padding-top: 1em;
  /*text-decoration: underline;
  text-decoration-color: #0028d1;*/
}

ul {
  list-style-type: none;
  /*margin: 0;*/
  /*padding: 0;*/
  display: block;
  margin: 0 auto;
  position: relative;
    z-index: 2000;
}


.speakers {
  text-align: center;
  margin-top: 15em;
  margin-left: 7em;
  padding-left: -7em !important;
  background-color: #bf9412;
      padding-bottom: 5em;
}

.speakers li {
  text-align: center;
  line-height: 1.2em;
  position: relative;
  z-index: 2000;
}

.speakers li a {
  color: inherit;
  text-decoration: underline;
  position: relative;
  z-index: 2000;
  /*box-shadow: inset 0 0px 0 #0028d1, inset 0 -1px 0;*/
  text-decoration-skip: ink;
}

.work-a {
    color: inherit;
    position: relative;
    z-index: 2000;
    text-decoration-skip: ink;
}

.speakers li a:hover::before {
  content: '↬';
  color: #ebebeb;
  text-decoration: none;
  left: -13px;
  /* equal to padding-left */
}

.speakers li a:hover::after {
  content: '↫';
  color: #ebebeb;
  text-decoration: none;
  left: -13px;
  /* equal to padding-left */
}


.speakers ul {
  display: block;
  text-align: left;
  font-size: 2em;
  padding-left: 2em;
    z-index: 2000;
    position: relative;
  /*justify-content: space-around;*/
}

#left {
  background: none;
  border-left: 5px solid #ebebeb;
  border-right: 5px solid #ebebeb;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 7em;
  height: 100;
  /*z-index: 1000;*/
}

.stars {
  display: none;
}

.logos {
  display: inline-block;
  width: 15em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
}


@media only screen and (max-width: 1312px) {

#quote {
font-size: 1.2em;
  padding-right: 6em !important;
}

.arrow {
  top: 91em;
}

}




@media only screen and (max-width: 1025px) {
  html {
    font-size: 1em;
  }
  #left {
    display: none;
  }


  .col-md-4 {
      padding-right: 10em;
  }

  .right{
    padding-right: 9em;
}

  #quote {
  font-size: 1.2em;
    padding-right: 6em !important;
  }

  .main-items {
    margin-left: 0px;
    padding-right: 3em;
  }

  .main-items p {
      max-width: 26em !important;
          font-size: .7em;
  }


  .arrow {
    display: none;
  }

  h4 {
    padding-left: 0px;
  }
  .speakers ul {
    padding-left: 0px;
    /*justify-content: space-around;*/
  }
  .gif {
    width: 150px;
    padding-bottom: 14em;
  }
  .centered {
    padding-left: 0px;
  }
  .stars {
      display: block;
      width: 418px;
      padding-top: 2em;
      padding-bottom: 0em;
      margin-bottom: -14em;
  }
  .speakers {
    margin-left: 0;
  }


  .lib {
    width: 230px;
    padding-bottom: 5em;
}
}

@media only screen and (max-width: 800px) {

  h1 {
      font-family: 'Steps-Mono';
      font-size: 6em;

    }

    .desc, .desc2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

  #quote {
      font-size: 1.2em;
      padding-right: 10em !important;
  }
  .row {
    margin-left: -2.1em;
    font-size: 0.3em;
    margin-right: -10em;
}

  html {
    font-size: .5em;
  }

  .col-md-4 {
      padding-right: 10em;
  }


  #left {
    display: none;
  }
  .main-items {
      margin-left: -28px;
      padding-right: 0em;
  }

  .main-items p {
        margin-top: 4em;
  }

  .arrow {
    height: 400px;
    left: 2em;
    top: 90em;
    display: none;
  }
  h4 {
      padding-left: 10px;
      padding-right: 10px;
  }
  .speakers ul {
    padding-left: 0px;
    /*justify-content: space-around;*/
  }
  .gif {
    width: 150px;
    padding-bottom: 14em;
  }
  .centered {
    padding-left: 0px;
  }
  .stars {
    display: block;
width: 300px;
    padding-top: 2em;
    padding-bottom: 0em;
    margin-bottom: -16em !important;
  }
  .speakers {
    margin-left: 0;
  }

  .lib {
    width: 230px;
    padding-bottom: 5em;
}


}


@media only screen and (width: 768px) {

  h1 {
      font-family: 'Steps-Mono';
      font-size: 6em;

    }

    .desc, .desc2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#quote {
    font-size: 1.2em;
    padding-right: 7em !important;
    margin-left: 9.3em;
}
.row {
    width: 93%;
    margin-left: 11.9em;
    font-size: 0.3em;
    /* margin-right: -10em; */
}

  html {
    font-size: .5em;
  }

  .col-md-4 {
      padding-right: 10em;
  }


  #left {
    display: none;
  }
  .main-items {
      margin-left: -28px;
      padding-right: 0em;
  }

  .main-items p {
      margin-top: 4em;
      margin-left: 14em;
  }

  .arrow {
    height: 400px;
    left: 2em;
    top: 90em;
    display: none;
  }
  h4 {
      padding-left: 10px;
      padding-right: 10px;
  }
  .speakers ul {
    padding-left: 0px;
    /*justify-content: space-around;*/
  }
  .gif {
    width: 150px;
    padding-bottom: 14em;
  }
  .centered {
    padding-left: 0px;
  }
  .stars {
    display: block;
width: 300px;
    margin-left: 30em;
    padding-top: 2em;
    padding-bottom: 0em;
    margin-bottom: -16em !important;
  }
  .speakers {
    margin-left: 9em;
  }

  .lib {
    width: 230px;
    padding-bottom: 5em;
}

.gif {
      margin-left: 38em;
}


}
