
@font-face {
  font-family: 'Steps-Mono';
  src: url('assets/Steps-Mono.otf') format('otf');
}

@font-face {
  font-family: 'Steps-Mono';
  src: url('assets/fonts/steps-mono.otf') format('otf');
  src: url('assets/fonts/steps-mono.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/steps-mono-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/steps-mono-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/steps-mono.ttf')  format('truetype') /* Safari, Android, iOS */
}
/*
.popover img {
    box-shadow: 0px 0px 10px purple;
    width: 500px;
    position: absolute;
    z-index: 4000;
}*/


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  /*font-family: 'bagnard';*/
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
  font-style: normal;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  /*background: #0028d1;*/
/*background: linear-gradient(120deg, #0028d1 0%, #a057a1 80%);*/
background: linear-gradient(99deg, #184cde 0%, #b638d6 100%);
  color: black;
}

.tix {
  text-align: center !important;
  max-width: 50vw;
  font-size: 1.5em;
      padding-top: 3em;
}


a {
  color: #ebebeb;
}

a:visited {
  color: inherit;
}

::selection {
  background: #d08cff;
  color: black;
}

::-moz-selection {
  background: #d08cff;
  color: black;
}

body {
  position: relative;
}

.tickets a:hover {
  background-color: #bd1dc6;
}


.image, .caption { font-size: 1em;
  display: inline-block;
  text-align: center;
}

caption a{
  color: black;
}

/*XXxxxxxXXXXXXXXXXXXXXXXXXXXXXXXX*/


/*XXxxxxxXXXXXXXXXXXXXXXXXXXXXXXXX*/

.main-items {
  padding: 1em;
  background: linear-gradient(306deg, rgb(207, 210, 53) 0%, #13a0c5 100%);
/*background: linear-gradient(19deg, rgb(222, 255, 181) 0%, #b49412 100%);*/
  /*background-color: #bf9412;*/
  font-size: 1.4em;
  color: black;
  padding-bottom: 4em;
  margin-left: 5em;
  /*padding-left: 4em;*/
}

.main-items p {
  position: relative;
  z-index: 3000;
  /*max-width: 32em !important;*/
  line-height: 1.4em;
}

.three-column-info {
    display: flex;
    flex-direction: row;
    margin-left: 4.8em;
    margin-right: 4.8em;
    font-size: 0.8em;
    padding-top: 1em;
}

.three-column-info .col {
  flex-grow: 1;
}

.three-column-info .tci-left {
  text-align: left;
}
.three-column-info .tci-middle {
  text-align: center;
}
.three-column-info .tci-right {
  text-align: right;
}


.two-column-main {
  display: flex;
  flex-direction: row;
    margin: 4em;
}

.two-column-main .col {
  flex-grow: 1;
}

.two-column-main .two-left {
  text-align: left;
    max-width: 32em;
}

.two-column-main .two-right {
    text-align: right;
    padding-top: .7em;
}

.two-column-main .two-right a {
    color: #ebebeb;
}

#quote {
  color: #ebebeb;
  font-size: 1.5em;
  line-height: 1.1em;
  font-family: 'Steps-Mono';
  margin-bottom: 2.5em;
  /*padding-right: 5em !important;*/
}

.mark {
  color: black;
}

.mark.init {
    margin-left: -0.5em;
}

#name {
  margin-top: 0.5em;
  color: black;
  float: right;
  white-space: nowrap;
}

.desc {
  max-width: 30em;
  text-align: left !important;
  font-size: .7em;
  padding-top: 1em;
  padding-bottom: 2em;
  color: black;
  /* background-color: #bf9412; */
  line-height: 1.4em;
  font-family: 'Roboto Mono', monospace;
}

.desc a {
  color: #7213ff;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
}

.desc a:hover::before {
  content: '↬';
  color: #ebebeb;
  text-decoration: none;
  left: -13px;
  /* equal to padding-left */
}

.desc a:hover::after {
  content: '↫';
  color: #ebebeb;
  text-decoration: none;
  left: -13px;
  /* equal to padding-left */
}

.desc2 {
  max-width: 30em;
  font-size: 1.5em;
  color: black;
  line-height: 1.4em;
  font-family: 'Roboto Mono', monospace;
  text-align: left !important;
  position: relative;
z-index: 3000;
}

.lib {
  width: 400px;
  padding-bottom: 5em;
  position: relative;
  z-index: 4000;
}

.map {
  width: 60vw;
    padding-top: 5em;
}

h5 {
  text-align: center;
  font-size: 1.3em;
  /* font-weight: 400; */
  font-family: 'Steps-Mono';
  margin-top: 2.2em;
  margin-bottom: .8em;
  text-decoration-skip: ink;
  text-decoration: underline;
}

.lib-org {
  font-size: 3em !important;
}


/*XXxxxxxXXXXXXXXXXXXXXXXXXXXXXXXX*/


/*XXxxxxxXXXXXXXXXXXXXXXXXXXXXXXXX*/

.arrow, .up-arrow, .around-arrow, .stacked-arrow {
  height: 1723px;
  left: 9em;
top: 84em;
  position: absolute;
  z-index: 1450;
}

.up-arrow {
  height: 731px;
  left: 10em;
  top: 248em;
}

  .around-arrow {
    height: 931px;
    top: 417em;
    left: 49em;
  }


.stacked-arrow {
  height: 496px;
  top: 525em;
  left: 17em;
}


.centered {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.gif {
  width: 370px;
      margin-top: 30em;
  padding-bottom: 14em;
}




marquee {
  font-family: 'Steps-Mono';
  font-weight: normal;
  font-style: normal;
  font-size: 3em;
  padding: 0;
  color: #ebebeb;
  display: block;
  /*background-color: #ec5332;;*/

}

.top {
/*border-top: 5px solid #ebebeb !important;*/
    padding-top: .2em;
    border-bottom: 5px solid #ebebeb;
}

.tickets a {
  margin: 0 1em;
  display: inline-block;
  font-size: 0.6em;
}

.tickets {
  border-top: 5px solid #ebebeb;
  border-bottom: 5px solid #ebebeb;
}


.tickets-bottom {
  margin-top: 0em;
  border-top: 5px solid #ebebeb;
}

.year {
    color: #ebebeb;
    margin-left: 1.3em;
    font-size: 3em;
    margin-bottom: 1.5em;
    font-family: 'Steps-Mono';
}

.main-tix {
  color: #7213ff !important;
  font-size: 1em;
}



h1 {
  font-family: 'Steps-Mono';
  font-size: 7em;
  text-align: center;
    margin-left: .9em;
  padding: 0.5em;
  padding-top: .5em;
padding-bottom: .4em;
  font-weight: 400;
  color: #ebebeb;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  /*yellow*/
  /*background-color: #aa9e00;*/
}

h4 {
  text-align: center;
  font-size: 4em;
  padding-left: 1em;
  /* font-weight: 400; */
  font-family: 'Steps-Mono';
  margin-top: -0.4em;
  margin-bottom: 0.6em;
  padding-top: 1em;
  position: relative;
      z-index: 3000;
}

  ul {
      list-style-type: none;
      /* margin: 0; */
      padding: 0;
      /* display: block; */
      /* margin: 0 auto; */
      /* position: relative; */
      z-index: 2000;
}


.speakers {
  text-align: center;
  margin-top: 15em;
  margin-left: 7em;
  padding-left: -7em !important;
  /*background-color: #bf9412;*/
      padding-bottom: 5em;
background: linear-gradient(306deg, rgb(207, 210, 53) 0%, #13a0c5 100%);
      /*background: linear-gradient(19deg, rgb(222, 255, 181) 0%, #b49412 100%);*/
}

.speakers li {
  text-align: center;
  line-height: 1.2em;
  position: relative;
  z-index: 2000;
}

.speakers li a {
  color: inherit;
  text-decoration: underline;
  position: relative;
  z-index: 2000;
      line-height: 1.5em;
  /*box-shadow: inset 0 0px 0 #0028d1, inset 0 -1px 0;*/
  text-decoration-skip: ink;
}

.work-a {
    color: inherit;
    position: relative;
    z-index: 2000;
    text-decoration-skip: ink;
}

.speakers li a:hover::before {
  content: '↬';
  color: #ebebeb;
  text-decoration: none;
  left: -13px;
  /* equal to padding-left */
}

.speakers li a:hover::after {
  content: '↫';
  color: #ebebeb;
  text-decoration: none;
  left: -13px;
  /* equal to padding-left */
}


.speakers ul {
  display: block;
  text-align: left;
  font-size: 2em;
  padding-left: 2em;
    z-index: 2000;
    position: relative;
  /*justify-content: space-around;*/
}

#left {
  background: none;
  border-left: 5px solid #ebebeb;
  border-right: 5px solid #ebebeb;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 7em;
  height: 100;
  /*z-index: 1000;*/
}

.stars {
  display: none;
}

.logos {
  display: inline-block;
  width: 15em;
  padding: 0 3em 3em 3em;
}

.logos.tni {
    padding: 0 2em 5em 2em;
}

.logos.pp {
    padding: 0 3.7em 3em 3.7em;
}

@media only screen and (max-width: 1312px) {


.arrow {
  top: 91em;
}


.stacked-arrow {
display: none;
}

}




@media only screen and (max-width: 1025px) {

  html, body {
overflow-x: hidden;
  }


  html {
    font-size: 1em;
  }
  #left {
    display: none;
  }
h1 {
    margin-left: auto;
}

.year{
    margin-left: auto;
}


  .right{
    padding-right: 9em;
}


  .main-items {
    margin-left: 0px;
    padding-right: 3em;
  }

  .main-items p {
      max-width: 26em !important;
          font-size: .7em;
  }


  .around-arrow {
    height: 931px;
    top: 415em;
    left: 14em;
  }

  h4 {
    padding-left: 0px;
  }
  .speakers ul {
    padding-left: 0px;
    /*justify-content: space-around;*/
  }
  .gif {
    width: 150px;
    padding-bottom: 14em;
  }
  .centered {
    padding-left: 0px;
  }
  .stars {
      display: none;
      width: 418px;
      padding-top: 2em;
      padding-bottom: 0em;
      margin-bottom: -14em;
  }
  .speakers {
    margin-left: 0;
  }


  .lib {
    width: 230px;
    padding-bottom: 5em;
}
}

@media only screen and (max-width: 800px) {

  h1 {
      font-family: 'Steps-Mono';
      font-size: 6em;

    }

    .desc, .desc2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

  #quote {
      font-size: 1.2em;
  }

  .three-column-info {
    font-size: 0.3em;
}

  .two-column-main .two-right {
      font-size: .3em;
  }

  html {
    font-size: .5em;
  }



  #left {
    display: none;
  }
  .main-items {
      margin-left: -28px;
      padding-right: 0em;
      margin-right: -15px;
  }


  .arrow {

    left: 2em;
    top: 90em;

  }

  .around-arrow {

    height: 736px;
top: 397em;
    left: 19em;
}

  .up-arrow {
display: none;
}
  h4 {
      padding-left: 10px;
      padding-right: 10px;
  }
  .speakers ul {
    padding-left: 0px;
    /*justify-content: space-around;*/
  }
  .gif {
    width: 150px;
    padding-bottom: 14em;
  }
  .centered {
    padding-left: 0px;
  }
  .stars {
  display: none;
width: 300px;
    padding-top: 2em;
    padding-bottom: 0em;
    margin-bottom: -16em !important;
  }
  .speakers {
    margin-left: 0;
  }

  .lib {
    width: 230px;
    padding-bottom: 5em;
}


}


@media only screen and (width: 768px) {

  h1 {
      font-family: 'Steps-Mono';
      font-size: 6em;

    }

    .desc, .desc2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}


.row {
    width: 93%;
    margin-left: 11.9em;
    font-size: 0.3em;
    /* margin-right: -10em; */
}

  html {
    font-size: .5em;
  }

  .col-md-4 {
      padding-right: 10em;
  }


  #left {
    display: none;
  }
  .main-items {
      margin-left: -28px;
      padding-right: 0em;
  }

  .main-items p {
      max-width: 26em !important;
      font-size: 1em;
  }


  h4 {
      padding-left: 10px;
      padding-right: 10px;
  }
  .speakers ul {
    padding-left: 0px;
    /*justify-content: space-around;*/
  }
  .gif {
    width: 150px;
    padding-bottom: 14em;
  }
  .centered {
    padding-left: 0px;
  }
  .stars {
    display: none;
    width: 300px;
    padding-top: 2em;
    padding-bottom: 0em;
    margin-bottom: -16em !important;
  }

  .lib {
    width: 230px;
    padding-bottom: 5em;
}


}



@media only screen and (max-width: 400px) {
.around-arrow {
    height: 736px;
    top: 383em;
    left: -12em;
}
}
