* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'BagnardRegular';
font-weight: normal;
font-style: normal;
}

html {
  background: #0028d1;
  color: #ebebeb;
}

a, a:visited {
  text-decoration: none;
}

::selection {
  background: #fff;
  color: #000;
}
::-moz-selection {
  background: #fff;
  color: #000;
}

body {

}

.main-items {
  padding: 1em;
  font-size: 2em;
  line-height: 1.3em;
}

.centered {
  display: block;
  margin: 0 auto;
}

marquee {
  font-size: 3em;
  padding: 0;
  padding-top: .2em;
}

h1 {
  font-size: 6em;
  padding: .5em;
  padding-top: .1em;
  padding-bottom: .0em;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
    position: relative;
}
figure img {
    width: 100%;
    visibility: hidden;
}
figure svg {
    position: absolute;
    left: 0;
    top: -2px;
}

.keynotes a, a:visited {
  text-decoration: none;
  color: red;
  position: absolute;
  bottom: 1em;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 1px 8px rgba(255,0,0,0.6);
  border: 1px solid red;
  background: #f6ffc9;
  padding: 0.2em 0.3em;
}

.keynotes ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.keynotes li {
  max-width: 320px;
  flex: 1;
}

.keynotes p {
  background: blue;
  padding: 0.5em;
  color: #eee;
  box-shadow: 2px 2px 6px rgba(255,0,0,0.6);
}
