* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'BagnardRegular';
  font-weight: normal;
  font-style: normal;
}

html {
  background: #0028d1;
  color: #ebebeb;
}

a, a:visited {
  color: #fff;
}

.tickets a {
  margin: 0 1.5em;
  display: inline-block;
  font-size: 0.7em;
}

::selection {
  background: #fff;
  color: #000;
}
::-moz-selection {
  background: #fff;
  color: #000;
}

body {

}

.main-items {
  padding: 1em;
  font-size: 2em;
  line-height: 1.3em;
}

.centered {
  display: block;
  margin: 0 auto;
}

marquee {
  font-size: 3em;
  padding: 0;
  padding-top: .2em;
}

h1 {
  font-size: 6em;
  padding: .5em;
  padding-top: .1em;
  padding-bottom: .0em;
  width: 100%;
}

h4 {
  text-align: center;
  font-size: 4em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
    position: relative;
    width: 320px;
    margin: 0;
    padding: 0;
}
figure img {
    visibility: hidden;
    width: 100%;
}
figure svg {
    position: absolute;
    left: 0;
    top: -2px;
}

.speakers a:visited {
  text-decoration: none;
  color: rgb(237, 128, 0);
  position: absolute;
  bottom: 1em;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 1px 8px rgba(255,0,0,0.6);
  border: 1px solid red;
  background: #f6ffc9;
  padding: 0.2em 0.3em;
}



.speakers ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.speakers li {
  max-width: 320px;
  flex: 1;
}

.speakers p {
  background: blue;
  padding: 0.5em;
  color: #eee;
  box-shadow: 2px 2px 6px rgba(255,0,0,0.6);
}

.one-on-ones ul {
  display: block;
  text-align: center;
}
.one-on-ones li {
  display: inline-block;
  max-width: none;
  text-align: left;
}
.one-on-ones li > div {
  display: inline-block;
  vertical-align:top;
  max-width: 320px;
  margin: 0 1em;
}
