html {
  color: #ebebeb;
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(120deg, #0028d1 0%, #a057a1 80%);
}

iframe {
  display: block;
  margin: 0 auto 10em auto;
}

.cyberlogo_small {
  width: 200px;
  display: block;
  margin: auto;
}

center {
  display: block;
  margin: auto;
  width: 60%;
  padding-bottom: 0;
  padding-top: 5em;
  /*color: #daff6f;*/
}

.simulation p {
  max-width: 640px;
  margin: 0 auto 1em auto;
}

@media only screen and (max-width: 600px) {
  iframe {
    width: 100%;
  }
}
