html {
  color: #ebebeb;
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(120deg, #0028d1 0%, #a057a1 80%);
}


iframe {
  display: block;
  margin: auto;
  width: 55%;
  height: 50em;
  border: solid 10px #aaf61e;
  margin-bottom: 10em;
}

#tinycat-mobile {
  display: none;
}


@media only screen and (max-width: 600px) {

html{
  height: 100%;
}

  iframe {
    display: none;
  }

  #tinycat-mobile {
    display: block;
    color: #a4f724;
    margin: auto;
    text-align: center;
  }


}
